<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatcomss</title>
</head>
<%- include('common/chatstyle') %>

    <body>
        <header>
            <%- include('common/navbar') %>
        </header>
        <div id="chat-container">
            <div id="chat-area">
                <% data.forEach(function (item) { %>
                    <% if (item.name==username) { %>
                        <div class="right">
                            <p>
                                <span class="chat-name">You</span>
                                <span class="chat-msg">
                                    <%= item.message%>
                                </span>
                            </p>
                            <span class="chat-date">
                                <%= item.Date %>
                            </span>
                        </div>
                        <%} else { %>
                            <div class="left">
                                <p>
                                    <span class="chat-name">
                                        <%= item.name%>
                                    </span>
                                    <span class="chat-msg">
                                        <%= item.message%>
                                    </span>
                                </p>
                                <span class="chat-date">
                                    <%= item.Date %>
                                </span>
                            </div>
                            <% } %>
                                <% }) %>

            </div>
            <div id="send-container">
                <form id="form-container">
                    <input type="text" name="message" id="messageinp" autocomplete="off"  required>
                    <button type="submit" class="send-btn"><img src="/images/send.png" alt=""></button>
                </form>
            </div>
        </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>

</html>